html {height:100%; margin:0; padding:0;}
body {background:#f0f0f0; margin:0; padding:0; font-size:12px; font-family: Arial, sans-serif;}

ul, li {padding:0; margin:0;}
h1 {font-size:28px; font-weight:normal; padding:0px; margin:0; color:#3b3b3b;}
h2 {font-size:16px; font-weight:normal; padding:2px 0 12px; margin:0; color:#3b3b3b;}
p {margin:0; padding:0; line-height:20px; color:#191519;}
img {border:none; outline:none;}
.clearfix {clear:both;}
.text_centered {text-align:center;}

/* Header */
.header {background-color:#fff;}
.header_wrapper {width:920px; left:50%; position:relative; margin-left:-480px;}
.header_line {clear:left; background:url('../img/tb_line.png') repeat-x; width:100%; height:15px;}
.header_claim {margin-left:140px;}
.header_login {position:absolute; top:30px; right:7px; width:55px; height:15px;}
.header_login a {background:url('../img/tb_login.png') 30px -4px no-repeat; color:#cbcbcb; text-decoration:none; display:block;}
.header_login a:hover {background:url('../img/tb_login_hover.png') 30px -4px no-repeat; color:#a3a3a3;}

/* Layout */
.content {background:#FFFFFF; height:426px; width:910px; position:relative; overflow:hidden; margin-top:1px; border-left:1px solid #D4D2D2; border-right:1px solid #D4D2D2; border-bottom:1px solid #D4D2D2; }
.page {width:910px; left:50%; position:relative; margin-left:-480px;}
.logo{vertical-align:top;}

.feature_list {color:#98989c; list-style:none; margin-top:15px; line-height:18px;}
.feature_list li {background:url('../img/tb_bullet_grey.png') 0px 2px no-repeat; padding-left:20px; margin-bottom:10px;}
.feature_list span {font-weight:bold; display:block; color:#000;}

.register {background:url('../img/btn_register.png') no-repeat; width:226px; height:43px; padding-top:12px; margin:10px 20px 0px 0px; cursor:pointer; text-align:center;float:right;}
.register:hover {background:url('../img/btn_register_hover.png') no-repeat; }
.register a {color:#fff; font-size:16px; text-decoration:none; text-shadow:#000 1px 1px 1px; }
.register_sub {display:block; margin-top:15px; color:#98989c;}
#register_form ul span {color:#B7B7B7; display:block; margin-left:100px;}

/* NoobSlider */
#box {position:absolute;}
.slider_buttons {position:absolute; top:45%; *top:45%; width:28px; height:28px; cursor:pointer; z-index:10;}
.back_button {left:-13px; background:url('../img/slider_left.png') no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/slider_left.png');}
.forward_button {right:-15px; background:url('../img/slider_right.png') no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/slider_right.png');}
.block {display:block; float:left; width:910px; height:426px;}

/* Navigation */
.navi {list-style:none; color:#FFFFFF; height:25px; font-size:13px; clear:both; left:50%;}
.navi li {float:left; margin-right:5px;}
.navi li a {display:block; text-align:center; background:url('../img/btn_nav_sprite.png') 0 0 no-repeat; height:20px; width:178px; color:#FFFFFF; text-decoration:none; padding-top:5px;}
.navi li a:hover {background:url('../img/btn_nav_sprite.png') 0 -25px no-repeat;}
.navi li a.active {background:url('../img/btn_nav_sprite.png') 0 -50px no-repeat;}
.nav_indicator {position:absolute; top:134px; left:84px; z-index:999; background:url('../img/tb_nav_indicator.png') no-repeat; *background-image:none; width:10px; height:10px;}

/* Home */
.home_left {float:left; width:400px; margin:25px 0 0 40px;}
.home_right {float:right;}

/* Product */
.product_list_container {position:absolute; width:360px;}
.product_nav_container {position:absolute; top:330px;}
.product_visual_container {}
#product_list_data, #product_list_user, #product_list_function, #product_list_extras {position:absolute;}
#product_list_user, #product_list_function, #product_list_extras {display:none;}
#visual_product_data, #visual_product_user, #visual_product_function, #visual_product_extras {position:absolute;}
#visual_product_user, #visual_product_function, #visual_product_extras {display:none;}
.product_left {float:left;}
.product_right {float:right; width:360px; margin:25px 30px 0 0; position:relative;}
.product_nav_top {margin-top:5px; margin-left:38px; height:14px;}
.product_nav_top li {float:left; list-style:none; margin-right:15px; text-align:center;}
.product_nav_top a {text-decoration:none; color:#999; width:100px; display:block;}
.product_nav_top a:hover {color:#9e1b1b;}
.product_nav {text-indent:-9999px; list-style:none; display:block; margin-left:30px; border-top:1px solid #ccc; padding-top:12px; width:456px;}
.product_nav li {float:left; margin-right:4px;}
.product_nav li a {height:48px; width:111px; display:block;}
#product_nav1 {background:url('../img/product_sprite.png') 0 0 no-repeat;}
#product_nav1:hover, #product_nav1.active {background:url('../img/product_sprite.png') 0 -48px no-repeat;}
#product_nav2 {background:url('../img/product_sprite.png') -111px 0 no-repeat;}
#product_nav2:hover, #product_nav2.active {background:url('../img/product_sprite.png') -111px -48px no-repeat;}
#product_nav3 {background:url('../img/product_sprite.png') -222px 0 no-repeat;}
#product_nav3:hover, #product_nav3.active {background:url('../img/product_sprite.png') -222px -48px no-repeat;}
#product_nav4 {background:url('../img/product_sprite.png') -333px 0 no-repeat;}
#product_nav4:hover, #product_nav4.active {background:url('../img/product_sprite.png') -333px -48px no-repeat;}
.product_nav_last {margin-right:0px !important;}
.product_register {position:absolute; left:128px; top:315px;}
.product_nav_top .active a {color:#9e1b1b;}
.product_nav_indicator {position:absolute; top:20px; left:84px; z-index:999; background:url('../img/tb_nav_indicator.png') no-repeat; width:10px; height:10px;}

/* About Trakken */
.about_left {float:left; width:400px; margin:25px 0 0 30px;}
.about_right {float:right; width:450px; margin-top:32px;}
.about_customers ul {width:440px; height:100px; list-style:none;}
.about_customers ul li {float:left; margin-right:38px; height:50px;}
.about_left p {color:#98989c; margin-top:10px; margin-bottom:30px; line-height:16px;}
.about_info_container {width:315px; height:110px; background-color:#f0f0f0; border:1px solid #ddd; padding:20px; overflow:hidden; float:right; margin-right:20px; margin-top:15px;}
.about_info_container span {color:#000; display:block; font-weight:bold; margin-bottom:6px;}
.about_info_container p {color:#98989c; line-height:16px;}

/* RegisterOverlay */
.overlay_bg {background-color:#000000; height:100%; display:none; width:100%; position:fixed; top:0px; left:0px; z-index:99; opacity:0.5; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter:alpha(opacity=50); *background: url('../img/overlay_bg.png') repeat transparent;}
.overlay_close {background:url('../img/overlay_close.png') no-repeat; width:13px; height:13px; display:block; position:absolute; right:5px; top:5px; cursor:pointer;}
.overlay_form {position:absolute; top:0px; left:25%; display:none; width:340px; height:380px; *height:420px; border:1px solid #bbb; padding:30px 20px 20px 20px; z-index:999; background:#fff; border:1px solid #666; -moz-box-shadow: 0px 0px 20px #000; -webkit-box-shadow: 0px 0px 20px #000; box-shadow: 0px 0px 20px #000;}
.overlay_form h1 {font-weight:bold; font-size:17px; text-align:center; margin-top: -15px;}
.overlay_form h3 {font-weight:normal; text-align:center; margin-top:0px;}
.overlay_form ul {list-style:none;}
.overlay_form ul li {height:30px;}
.overlay_form ul li.register_li_sub {height:23px;}
.overlay_form ul li.register_li_terms {margin-top:-5px;}
.overlay_form label {width:100px; cursor:pointer; float:left; display:block; padding-top:3px; color:#3b3b3b;}
.overlay_form input {width:233px;}
/*.overlay_form select {font-size: 12px; border:1px solid #DEE5ED; border-top:1px solid #9C9CA4; width:auto; padding:1px 7px 2px 7px; background:url('../img/select_arrow.png') right 4px no-repeat #FFFFFF; cursor:pointer;}*/
.overlay_form input[type=checkbox] {float:left; margin-left:100px; width:15px; *margin-right: 10px;}
.overlay_form select {width:233px; cursor:pointer;}
.overlay_form input.short {width:112px;}
.overlay_line {background-color:#ccc; height:2px; border:none; margin: 3px 0 11px; *margin:0px;}
.overlay_register_claim {background-color:#fff3c1; color:#6a6a6a; height:24px; width:380px; margin-left:-20px; text-align:center; padding-top: 10px; margin-top:10px;}
.overlay_register_terms {float:right; min-width:150px; padding-bottom:2px;}
.overlay_register_submit {background:url('../img/btn_register.png') no-repeat; width:226px; height:43px; padding-bottom:4px; border:none; cursor:pointer; text-align:center; display:block; text-decoration:none; color:#fff; font-size:16px; text-shadow:#000 1px 1px 1px; margin:14px auto;}
.overlay_register_submit:hover {background:url('../img/btn_register_hover.png') no-repeat;}

/* Thanks Overlay */
.overlay_thanks {background-color:#f0f0f0; height:100%; display:none; width:100%; position:fixed; top:133px; left:0px; z-index:9999;}
.overlay_thanks_content {background-color:#FFFFFF; border:1px solid #CCCCCC; height:210px; margin:40px auto; padding:20px 40px; width:330px; position:relative;}
.overlay_thanks_content img {float:left; margin-right:20px;}
.overlay_thanks_content h1 {font-size:36px; font-weight:normal; margin-top:50px;}
.overlay_thanks_content p {color:#98989c; font-size:13px; line-height:16px;}
p.overlay_thanks_text {margin:10px 0px;}
p.overlay_thanks_mail {font-weight:bold; margin:10px 0px; color:#3b3b3b;}
p.overlay_thanks_again a {color:#1a70a7; text-decoration:none;}

/*
.tb_fake_select_wrapper {position:relative; float:right;}
.tb_fake_select {font-size: 12px; border:1px solid #ccc; border-top:2px solid #7c7c7c; width:223px; cursor:default; padding:1px 7px 2px 7px; background:url('../img/select_arrow.png') right 4px no-repeat #FFFFFF; cursor:pointer;}
.tb_fake_select span {margin-right:15px; margin-left:0px !important; text-align:center; display:block; white-space:nowrap; color:#000000; overflow: hidden;}
.tb_fake_select span.disabled {color:#666666;}
.tb_fake_select_list {font-size: 12px; background-color:#FFFFFF; position:absolute; top:19px; left:-1px; border:1px solid #555555; border-top:1px solid #CCCCCC; border-left:2px solid #CCCCCC; display:none; cursor:default; width:auto; z-index:1000; max-height:150px; overflow:auto;}
.tb_fake_select_list li {padding:0 7px; white-space:nowrap; color:#000000; padding-right:22px; height:15px !important; width:207px; overflow:hidden; }
.tb_fake_select_list li:hover {background-color:#3399FF; color:#FFFFFF;}
.tb_fake_select_list li.selected {background-color:#3399FF; color:#FFFFFF;}
*/

/* Validation */
input.validation_error, select.validation_error {border:1px solid #993300 !important;}
/*li.validation_error {background:url('../img/validation_error_bg.png') no-repeat; font-weight:normal; position:absolute; left:370px; margin-top:-25px; width:320px; height:20px !important; z-index:999; color:#a42a29; padding-top:5px; padding-left:10px;}*/
li.validation_error {background-color:#fff; border:1px solid #A42A29; font-weight:normal; position:absolute; left:370px; margin-top:-23px; width:auto; white-space:nowrap; height:15px !important; z-index:999; color:#a42a29; padding:5px 10px;}

/* Footer */
.footer {margin:8px 0px 100px;}
.footer span {display:block; float:left;}
.footer ul {float:right; list-style:none;}
.footer ul li {float:left; margin-left:10px;}
.footer ul li a {color:#cbcbcb; text-decoration:none;}
.footer ul li a:hover {color:#a3a3a3; text-decoration:underline;}

/* Lupe */
#wrap {width: 600px; position: relative;}
#small {position: relative; width: 100%;}
#large {background: white; position: relative; width: 600px;}
#mover {position:absolute; top:0; left:0; width:104px; height:104px; overflow:hidden; z-index:100; background:white; display:none;}
#overlay {border: 1px solid blue; width: 102px; height: 102px; position: absolute; top: 0; left: 0; z-index: 200;}